# Ignore config
config/config.yaml

# Ignore dataset files
data/

# Ignore log files
logs/

# Ignore results (processed outputs)
results/

# Ignore Snakemake-generated reports
workflow_report.html

# Ignore Snakemake’s cache and working directory
.snakemake/

# Ignore External_datasets but keep the empty folder 
External_datasets/*
!.gitignore

# Ignore datasets list
datasets_list.txt

**/.ipynb_checkpoints/
